@import "../../../vars.css";

.friends-header {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  margin: 2rem; 
  padding: 2rem;
  background-color: var(--nav);
  border-radius: 5px;
  border: var(--bor);
}

.friend-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-picture-box {
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.picture-button {
  transform: translateY(-53px) translateX(-22px);
}

.account-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.username {
  font-size: 18px;
}

.friend-box-container {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
}

@media screen and (max-width: 720px) {
  .friends-header{
    flex-direction: column;
  }

  .profile-picture-box {
    margin-right: 1rem;
  }
  
  .username {
    margin-left: 1rem;
  }
}