.menu-item {
  margin: 0;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  font-family: inherit;
}

.menu-item:hover {
  background-color: #116d79;
}