.nav-box-left {
  width: 50%;
  margin-right: 4em;
  margin-left: 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1120px) {

  .nav-box-left {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    justify-content: space-evenly;
  }

}