.nav-box-right {
  width: 50%;
  margin-right: 5em;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 980px) {

  .nav-box-right {
    display: none;
  }
}