.header-text {
  margin: 0 auto;
  border-bottom: 1px solid #1691a1;
}

.login-header {
  margin-top: 7em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-handler {
  color: rgb(177, 34, 34);
  margin: 0;
  margin-top: 10px;
}

.main-login-body {
  padding: 2em 3.5em;
  display: flex;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 5px;
  width: 10em;
  background-color: #091d24;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-login-body {
  margin-left: 1em;
  display: none;
}

.login-box {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box-right {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-box-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button-box {
  width: 14em;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(0, 155, 142);
}

.button-right {
  width: 8em;
  margin: 10px;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(0, 155, 142);
}

.button:hover {
  background-color: #116d79;
}

.button-right:hover {
  background-color: #116d79;
}

.register-redirect {
  margin-top: 1em;
  font-size: 12px;
}

.input-text {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 0;
  width: 8em;
  border-bottom: 1px solid #1691a1;
}

@media screen and (orientation: landscape) and (max-height: 550px) {
  .input-text {
    margin-top: 0.4em;
  }

  .login-header {
    margin-top: 7em;
  }

  .login-box {
    margin-top: 0.1em;
  }

  .main-login-body {
    padding: 1em 4em;
    background-color: #091d24;
  }

  .register-redirect {
    display: none;
  }

  .header-text {
    display: none;
  }

  .button-box {
    display: none;
  }

  .side-login-body {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .button-box {
    width: 13em;
    display: flex;
    justify-content: space-between;
  }

  .login-box {
    margin-top: 1em;
  }

  .error-handler {
    font-size: 12px;
  }

  .header-text {
    display: flex;
  }

  .input-text {
    font-size: 14px;
    margin-top: 0;
    width: 5em;
  }

  .login-header {
    margin-top: 9em;
  }

  .main-login-body {
    padding: 1em 2.5em;
  }

  .register-redirect {
    margin-top: 0.5em;
    font-size: 10px;
  }

  .button-box {
    display: flex;
  }

  .side-login-body {
    display: none;
  }
}
