.nav-box-right {
  width: 50%;
  margin-right: 8em;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1120px) {

  .nav-box-right {
    display: none;
  }
}