a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  margin: 1em 1em;
  font-family: inherit;
  transition: 50ms;
}

a:hover {
  color: rgb(204, 204, 204);
  border-color: rgb(204, 204, 204);
}