.top {
  background-color: #091d24;
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: space-between;
}
.top-right {
  width: 50%;
  margin-right: 3em;
  display: flex;
  justify-content: flex-end;
}
.top-left {
  margin-left: 5em;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}