input {
  width: 14em;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #040e12;
  color: whitesmoke;
  outline: none;
}

.top {
  background-color: #091d24;
  display: flex;
  height: 3.8em;
  align-items: center;
  justify-content: space-between;
}
.top-right {
  width: 50%;
  margin-right: 8em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-left {
  margin-left: 8em;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mini-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4em;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 0.15em 0.3em;
  width: 14em;
  margin-right: 3em;
  background-color: #040e12;
  border-radius: 5px;
  border: 1px solid rgb(63, 63, 63);
}

@media screen and (max-width: 600px) {
  input {
    display: none;
  }
  .search {
    display: none;
  }
  .buttons {
    display: none;
  }
}

@media screen and (max-width: 1120px) {
  .buttons {
    display: none;
  }
}