.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  margin: 0.5em auto;
  padding: 0.25em;
  transition: background 100ms;
}

.menu-item:hover {
  color: rgb(204, 204, 204);
  background-color: #040e12;
}