.dropdown {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 7em;
  transform: translateX(-45%);
  background-color: #091d24;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 5px;
  padding: 1em;
  overflow: hidden;
}