.menu-header {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  border-bottom: 1px solid #1691a1;
  margin: 1em 1em;
  font-family: inherit;
  font-weight: bold;
  transition: 100ms;
}

.menu-header:hover {
  color: rgb(204, 204, 204);
}