@media screen and (max-width: 980px) {
  .little1, .little2, .little3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .little1 {
    width: 30%;
  }

  .little2 {
    width: 40%;
  }

  .little3 {
    width: 30%;
  }
}