input {
  width: 14em;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #040e12;
  color: whitesmoke;
  outline: none;
}

.search-bar {
  padding: 0.15em 0.3em;
  width: 14em;
  background-color: #040e12;
  border-radius: 5px;
  border: 1px solid rgb(63, 63, 63);
}

@media screen and (max-width: 1120px) {
  input {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  input {
    width: 7em;
  }

  .search-bar {
    width: 8em;
  }
}