a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  margin: 3em 1em;
  border-radius: 3px;
  border: none;
  font-family: inherit;
  transition: 50ms;
}

a:hover {
  color: rgb(160, 160, 160);
}