button {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background-color: #141414;
  font-size: inherit;
  margin: 20px 5px;
  border-radius: 3px;
  border: none;
  font-family: inherit;
  font-weight: 300;
  color: #1EAE85;
  text-transform: uppercase;
  transition: 300ms;
}

button:hover {
  background-color: #093428;
}