@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

.App {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(0,129,142);
  background: linear-gradient(31deg, rgba(0,129,142,1) 0%, rgba(128,243,255,1) 58%, rgba(255,255,255,1) 100%);
}

html {
  height: 100%;
}