@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

.App {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #051014;
}

html {
  height: 100%;
}