@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.App {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-align: center;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #051014;
}

html {
  height: 100%;
}